<section class="[grid-area:f] f">
  <h2
    class="absolute text-3xl font-bold text-white z-10 p-3 pointer-events-none"
  >
    GitHub!!
  </h2>
  <a target="_blank" class="opacity-50" href="https://github.com/PabloZottola"
    ><img
      class="w-full h-full object-cover rounded-2xl"
      src="../../public/github.gif"
      alt=""
    /></a
  >
</section>
