<header class="[grid-area:a] rounded-2xl">
  <section
    class="flex flex-col item gap-4 justify-center p-4 h-full opacity-85"
  >
    <h1 class="text-[47px] font-bold leading-tight w-4/5">
      Hola!, me llamo <span class="text-amber-100">Pablo Zóttola</span>
    </h1>
    <h2 class="text-lg font-medium">Junior Front-End Developer</h2>
    <h3 class="text-sm">
      Javascript | Tailwind | React JS | React Native | Astro
    </h3>
    <p class="text-lg font-medium text-amber-100">
      Siempre estoy en la búsqueda constante de <span class="block">
        de aprendizaje para ampliar mis conocimientos.</span
      >
    </p>
  </section>
</header>

<style>
  header {
    background-image: url("../../public/heroe.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: black 0 2px;
  }
</style>
