<section
  class="[grid-area:b] rounded-2xl animate-delay-[600ms] animate-fade-left"
>
  <div class="flex justify-evenly flex-col p-4 opacity-90 h-full">
    <h2 class="text-4xl font-bold text-center pb-1 text-amber-100 border-b-2">
      Proyectos
    </h2>
    <ul class="flex gap-2 flex-col divide-y-2">
      <li class="pt-1">
        <h3 class="text-xl font-bold">Prueba-Tecnica-Libritos-React</h3>
        <p>
          El objetivo de esta prueba es diseñar e implementar una pequeña
          aplicación web de lista de libros.
        </p>
      </li>
      <li class="pt-1">
        <h3 class="text-xl font-bold">Prueba-en-astro-React</h3>
        <p>
          Mini proyecto una aplicacion web de peliculas con un buscador, 100%
          responsive y con la posibilidad de motras mas informacion haciendo
          click en ellas.
        </p>
      </li>
      <li class="pt-1">
        <h3 class="text-xl font-bold">Rolling-Code-School</h3>
        <p>
          Proyecto final del curso FULL-STACK de Rolling Code. Aplicacion web
          para el mantenimiento escolar de los alumnos de un colegio.<br /> El objetivo
          era crear un CRUD, de alumnos y profesores.
        </p>
      </li>
    </ul>
  </div>
</section>

<style>
  section {
    background-image: url("../../public/bg-proyectos.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-shadow: black 0 2px;
  }
</style>
