---
import Github from "../components/Github.astro";
import Extensiones from "../components/Extensiones.astro";
import Estudios from "../components/Estudios.astro";
import Proyectos from "../components/Proyectos.astro";
---

<>
  <Extensiones />
  <Proyectos />
  <section
    class="[grid-area:d] border-white border-2 rounded-2xl animate-delay-[1800ms] animate-fade"
  >
  </section>
  <Estudios />
  <Github />
  <section
    class="[grid-area:h] border-white border-2 rounded-2xl animate-delay-[1200ms] animate-fade-left"
  >
  </section>
  <section
    class="[grid-area:i] i rounded-2xl opacity-90 animate-delay-[1500ms] animate-fade"
  >
    <a target="_blank" href="https://www.linkedin.com/in/pablo-zottola/"
      ><h2
        class="absolute text-xl font-bold text-white z-10 p-3 pointer-events-none"
      >
        Linkedin
      </h2><img
        class="w-full h-full object-cover rounded-2xl"
        src="../../public/linkedin.webp"
        alt=""
      /></a
    >
  </section>
</>
